/* Estilos para el contenedor del login */
.login-container {
  position: relative;
  margin-top: 100px; /* Margen superior */
  background-color: #f8f9fa; /* Color de fondo */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para la imagen */
.login-container img {
  width: 100%;
  height: auto;
}

