/* Styling for the container */
.container {
  border: none; 
}

/* Styling for small input fields */
.campo-pequeno {
  width: 250px; 
}

/* Styling for the "About Me" input field */
.campo-about {
  width: 400px; 
  height: 150px; 
}

  
  
  